.top-nav-bar {
    position: fixed;
    top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: transparent;
}

.nav-item ::deep a {
    padding:20px;
    color: gray;
}
