
@switch (level)
{
    case 1:
        <div style="display:flex; align-items:end; flex-direction:row; height:26px; width:26px">
            <div style="height:10px; margin-right:3px; width:5px; background-color:red"></div>
            <div style="height:14px; margin-right:3px; width:5px; background-color:grey"></div>
            <div style="height:18px; margin-right:3px; width:5px; background-color:grey"></div>
            <div style="height:22px; margin-right:3px; width:5px; background-color:grey"></div>
            <div style="height:26px; margin-right:3px; width:5px; background-color:grey"></div>
        </div>
        break;
    case 2:
        <div style="display:flex; align-items:end; flex-direction:row; height:26px; width:26px">
            <div style="height:10px; margin-right:3px; width:5px; background-color:orange"></div>
            <div style="height:14px; margin-right:3px; width:5px; background-color:orange"></div>
            <div style="height:18px; margin-right:3px; width:5px; background-color:grey"></div>
            <div style="height:22px; margin-right:3px; width:5px; background-color:grey"></div>
            <div style="height:26px; margin-right:3px; width:5px; background-color:grey"></div>
        </div>
        break;
    case 3:
        <div style="display:flex; align-items:end; flex-direction:row; height:26px; width:26px">
            <div style="height:10px; margin-right:3px; width:5px; background-color:yellow"></div>
            <div style="height:14px; margin-right:3px; width:5px; background-color:yellow"></div>
            <div style="height:18px; margin-right:3px; width:5px; background-color:yellow"></div>
            <div style="height:22px; margin-right:3px; width:5px; background-color:grey"></div>
            <div style="height:26px; margin-right:3px; width:5px; background-color:grey"></div>
        </div>
        break;
    case 4:
        <div style="display:flex; align-items:end; flex-direction:row; height:26px; width:26px">
            <div style="height:10px; margin-right:3px; width:5px; background-color:greenyellow"></div>
            <div style="height:14px; margin-right:3px; width:5px; background-color:greenyellow"></div>
            <div style="height:18px; margin-right:3px; width:5px; background-color:greenyellow"></div>
            <div style="height:22px; margin-right:3px; width:5px; background-color:greenyellow"></div>
            <div style="height:26px; margin-right:3px; width:5px; background-color:grey"></div>
        </div>
        break;
    case 5:
        <div style="display:flex; align-items:end; flex-direction:row; height:26px; width:26px">
            <div style="height:10px; margin-right:3px; width:5px; background-color:green"></div>
            <div style="height:14px; margin-right:3px; width:5px; background-color:green"></div>
            <div style="height:18px; margin-right:3px; width:5px; background-color:green"></div>
            <div style="height:22px; margin-right:3px; width:5px; background-color:green"></div>
            <div style="height:26px; margin-right:3px; width:5px; background-color:green"></div>
        </div>
        break;
    default:
        <div style="display:flex; align-items:end; flex-direction:row; height:26px; width:26px">
            <div style="height:10px; margin-right:3px; width:5px; background-color:grey"></div>
            <div style="height:14px; margin-right:3px; width:5px; background-color:grey"></div>
            <div style="height:18px; margin-right:3px; width:5px; background-color:grey"></div>
            <div style="height:22px; margin-right:3px; width:5px; background-color:grey"></div>
            <div style="height:26px; margin-right:3px; width:5px; background-color:grey"></div>
        </div>
        break;
}





@code {
    [Parameter] public int level { get; set; } = 0;
}