@page "/Skills"

@for(int i = 0; i <= skills.Count; i++)
{
    <div>
        <p>@skills[i].name - Level: @skills[i].level</p>
    </div>
}

@code {

    public class Skill
    {
        public string name { get; set; } = string.Empty;
        public int level { get; set; } = 0;
    }

    public List<Skill> skills = new List<Skill> {
    new Skill { name = "C#", level = 4 },
    new Skill { name = "JavaScript", level = 4 },
    new Skill { name = "Python", level = 2 }
};

}
