.top-nav-bar[b-2cyj8zn0ep] {
    position: fixed;
    top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: transparent;
}

.nav-item[b-2cyj8zn0ep]  a {
    color: gray;
}

.text-link[b-2cyj8zn0ep]{
    color:green !important;
}

@media (min-width: 641px) {
    .navbar-toggler[b-2cyj8zn0ep] {
        display: none;
    }

    .collapse[b-2cyj8zn0ep] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-2cyj8zn0ep] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
