.top-nav-bar[b-2cyj8zn0ep]{
    height:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-content:center;
    align-items:center;
    background-color:green;
}

.nav-item[b-2cyj8zn0ep] {
    color:white;
    background-color:red;
}


@media (min-width: 641px) {
    .navbar-toggler[b-2cyj8zn0ep] {
        display: none;
    }

    .collapse[b-2cyj8zn0ep] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-2cyj8zn0ep] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
